<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{stock.name}}">
  <ion-content has-header="true" padding="false">

    <div class="list card ">
      <div class="item item-divider item-positive">
        {{stock.name}}
        <br>
        NASDAQ: {{stock.quoteName}}
      </div>
      <div class="item item-body">
        <p>
          {{stock.description}}
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
