<ion-view title="Stocks">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>


  <ion-content has-header="true" padding="true">

    <td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div class="image" ng-controller="StockCardCtrl">
          <div class="no-text">Down</div>

          {{card.name}}



          <div class="yes-text">Up</div>
        </div>
      </td-card>
    </td-cards>

    </div>
  </ion-content>

</ion-view>
