<ion-view title="Stocks">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>


  <ion-content has-header="true" padding="true">

    <td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div class="list card " ng-controller="StockCardCtrl">
          <div class="no-text">Down</div>
          <div class="item item-divider item-positive">
            {{card.name}}
            <br>
            {{card.quoteName}}: {{card.quotes[card.quotes.length-1].price}}
          </div>
          <div class="item item-body">
            <p>
              {{card.description | cut:true:200:' ...'}}
            </p>
          </div>
          <div class="yes-text">Up</div>
        </div>
    </td-cards>
    </div>
  </ion-content>

</ion-view>
